body{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.absolute{
    position: absolute;
}
.flex{
    display: flex;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.darkcont{
    transition: all 0.4s;
    background: black;
    color: white;
}
.lightcont{
    transition: all 0.4s;
    background: white;
    color: black;
}
.entbar{
    height: 0.5px;
    background-color: red;
    border-radius: 4px;
}
#entbarid1{
    top: 100px;
}
#btn{
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 10px;
}
#btn:hover{
    cursor: pointer;
}
.celestial{
    height: 145px;
    width: 150px;
    border-radius: 50%;
}
@keyframes scale-up-hor-center {
    0% {
        width: 0px;
      transform: scaleX(0);
    }
    50% {
        width: 200px;
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(0);
        width: 0px;
    }
}
  

@keyframes bounce-in-top {
    0% {
        background: url("./moon.jpg");
        background-size: cover;
      transform: translateY(-250px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
        background: url("./moon.jpg");
        background-size: cover;
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
        background: url("./moon.jpg");
        background-size: cover;
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
        background: url("./moon.jpg");
        background-size: cover;
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
        background: url("./moon.jpg");
        background-size: cover;
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
        background: url("./moon.jpg");
        background-size: cover;
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
        background: url("./moon.jpg");
        background-size: cover;
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
        background: url("./moon.jpg");
        background-size: cover;
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-out-bottom {
    0% {
        background: url("./sun.jpg");
        background-size: cover;
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    5% {
        background: url("./sun.jpg");
        background-size: cover;
      transform: translateY(30px);
      animation-timing-function: ease-in;
    }
    15% {
        background: url("./sun.jpg");
        background-size: cover;
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    25% {
        background: url("./sun.jpg");
        background-size: cover;
      transform: translateY(38px);
      animation-timing-function: ease-in;
    }
    38% {
        background: url("./sun.jpg");
        background-size: cover;
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    52% {
        background: url("./sun.jpg");
        background-size: cover;
      transform: translateY(75px);
      animation-timing-function: ease-in;
    }
    70% {
        background: url("./sun.jpg");
        background-size: cover;
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    85% {
        background: url("./sun.jpg");
        background-size: cover;
      opacity: 1;
    }
    100% {
        background: url("./sun.jpg");
        background-size: cover;
      transform: translateY(300px);
      opacity: 0;
    }
  }
  
  @keyframes slide-out-fwd-center {
    0% {
        background: url("./moon.jpg");
        background-size: cover;
        opacity: 1;
    }
    100% {
        background: url("./moon.jpg");
        background-size: cover;
       height: 2000px;
       width: 2000px;
        opacity: 0;
        z-index: -1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
        background: url("./sun.jpg");
        background-size: cover;
        height: 2000px;
        width: 2000px;
         opacity: 0;
         z-index: 1;
    }
    100% {
        background: url("./sun.jpg");
        background-size: cover;
       height: 100px;
       width: 100px;
       z-index: -1;
    }
  }
  
